<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <h3>Events</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Location</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in events">
        <!-- <td>
          <button class="btn" ng-click="editUser(user.id)">
            <span class="glyphicon glyphicon-pencil"></span>  Edit
          </button>
        </td> -->
        <td>{{ user.eventName }}</td>
        <td>{{ user.eventLocation }}</td>
        <td>{{ user.eventCost }}</td>
      </tr>
    </tbody>
  </table>

  <!-- <hr>
  <button class="btn btn-success" ng-click="editUser('new')">
  <span class="glyphicon glyphicon-user"></span>  Create Event
  </button>
  <hr> -->


  <h3 ng-show="edit">Create New Event:</h3>
  <!-- <h3 ng-hide="edit">Edit User:</h3> -->
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Event Name:</label>
      <div class="col-sm-10">
      <input type="text" ng-model="advEvent.eventName" ng-disabled="!edit" placeholder="My Name Is What?">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Event Location:</label>
      <div class="col-sm-10">
      <input type="text" ng-model="advEvent.eventLocation" ng-disabled="!edit" placeholder="Where was I">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Cost:</label>
      <div class="col-sm-10">
      <input ng-model="advEvent.eventCost" placeholder="$$">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Fun Rating:</label>
      <div class="col-sm-10">
      <input ng-model="advEvent.funRating" placeholder="Too fun">
      </div>
    </div>
  </form>

  <hr>
  <button  ng-click="saveEvent(advEvent)" class="btn btn-success" ng-disabled="error || incomplete">
  <span class="glyphicon glyphicon-save"></span>  Save Changes
  </button>



</div>
