<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Adventures</a>
      <ul class="nav navbar-nav">

        <li ><a href="/user">Profile</a></li>
        <li ><a href="/event">Adventures</a></li>
        <li ><a href="/feed">Feed</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ><a ng-href='/me'>Hello {{ getCurrentUser().name }}</a></li>
      </ul>
    </div>
  </div>
</div>
